#a{
 height: 75px ;
  grid-column: 1/-1;
  line-height: 75px;
}
#b{

 grid-column: 1/-1;
  height: 150px;
  line-height: 150px;
}
#c{
 
  grid-column: 1/-1;
  height: 125px;
  line-height: 125px;
}
#d{
  grid-column: 1/-1;
  height: 125px;
  line-height: 125px;
}
#ef, #gh{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#e{
 
  height: 250px;
  line-height: 250px;
}
#f{

  height: 250px;
  line-height: 250px;
}
#g{

  grid-column: 1/2;
  height: 250px;
  line-height: 250px;
}
#h{
 
  grid-column: -2/-1;
  height: 250px;
  line-height: 250px;
}
#i {
 
  grid-column: 1/-1;
  height: 80px;
  line-height: 80px;
}

@media screen and (min-width:480px) and (max-width:767px){

  #a{
      grid-column: 1/-1;
      height: 100px;
      line-height: 100px;
  }
  #b{
      grid-column: 1/2;
      width: 200px;
      height: 100%;
      line-height: 780px;
  }
  #c{
      grid-column: 1/-1;
      height: 150px;
      line-height: 150px;
  }
  #d{
      grid-column: 1/-1;
      height: 150px;
      line-height: 150px;
  }
  #ef{
      grid-column: 1/-1;
      height: 200px;
      line-height: 200px;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  #gh{
      grid-column: 1/-1;
      height: 200px;
      line-height: 200px;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  #i{
      grid-column: 1/-1;
      height: 80px;
      line-height: 80px;
  }
}

@media screen and (min-width:768px){

  #a{
      grid-column: 1/-1;
      height: 100px;
      line-height: 100px;
  }
  #b{
      grid-column: 1/2;
      width: 200px;
      height: 600px;
      line-height: 600px;
  }
  #c{
      grid-column: 1/2;
      height: 200px;
      line-height: 200px;
  }
  #d{
      grid-column: 2/-1;
      height: 200px;
      line-height: 200px;
  }
  #ef{
      grid-column: 1/2;
      height: 250px;
      line-height: 250px;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  #gh{
      grid-column: 2/-1;
      height: 250px;
      line-height: 250px;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  #i{
      grid-column: 1/-1;
      height: 150px;
      line-height: 150px;
  }
}